#content-blog {
    margin-top: 20px;
}
#content-blog .small-image{
    margin-left: 0px;
}
.blog-small-image {
    margin-bottom: 60px;
    position: relative;
    box-sizing: border-box;
    border: 7px solid #ecebeb;
    -moz-box-sizing: border-box;
}

.blog-small-image .the-content-list > div {
    border: 0;
    padding: 20px;
    position: absolute;
    bottom: 8px;
    left: 8px;
    right: 8px;
    background: white;
    opacity: 0.9;
}

.blog-small-image-meta {
    margin-left: 0;
    width: 140px;
    float: left;
    margin-right: 35px;
}

.blog-small-image-meta p {
    border-bottom: 1px solid #d3d2d2;
    font-size: 12px;
    padding-bottom: 10px;
}

.blog-small-image-meta p:last-child { border-bottom: none; padding-bottom: 0; }
.blog-small-image-meta p.last-child { border-bottom: none; padding-bottom: 0; }

.blog-small-image-meta span {
    display: block;
}

.blog-small-image-meta p a {
    font-size: 12px;
    color: #808080;
}

.blog-small-image-meta p a:hover {
    color: #373636;
}

.blog-small-image-meta .socials {
    margin-top: 11px;
}

.blog-small-image-meta + .blog-small-image-content {
    margin-left: 175px;
}

.blog-small-image-content,
.blog-small-image-content p,
.blog-small-image-content p a {
    font-size: 13px;
    line-height: 22px;
}

.blog-small-image-content .post-footer p{
    margin-top: 0;
    margin-bottom: 7px;
}

.blog-small-image-single .blog-small-image-content,
.blog-small-image-single .blog-small-image-content p,
.blog-small-image-single .blog-small-image-content p a {
    font-size: 13px;
}

.blog-small-image .more-link {
    display: block;
    float: left;
}

.blog-small-image .thumbnail {
    padding: 0;
    /*margin-bottom: 15px;*/
    position: relative;
    border: none;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.blog-small-image .thumbnail img {
    padding: 0;
    margin: 0;
    width: 100%;
}

.blog-small-image .thumbnail .blog-meta {
    position: absolute;
    top: 8px;
    left: 8px;
}

.blog-small-image .blog-small-image-date {
    background: #ffffff;
    margin: 0;
    color: #908d8d;
    text-align: center;
    width: 42px;
    height: auto;
    border: 2px solid #c3c3c3;
    box-sizing: border-box;
}

.blog-small-image .without.thumbnail .blog-small-image-date {
    display: none;
    padding-top: 12px;
    line-height: 1em;
}

.blog-small-image .blog-small-image-date span {
    display: block;
}

.blog-small-image .blog-small-image-date span.month {
    font-size: 12px;
    font-weight: 400;
    line-height: 1em;
    color: #908d8d;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    padding-bottom: 10px;

}

.blog-small-image .blog-small-image-date span.day {
    font-size: 24px;
    font-weight: 400;
    color: #908d8d;
    font-family: 'Lato', sans-serif;
    padding: 10px 0;
    padding-bottom: 8px;
    line-height: 22px;
}


.blog-small-image .blog-small-image-date {
    background: #ffffff;
    margin: 0;
    color: #908d8d;
    text-align: center;
    width: 42px;
    height: auto;
    border: 2px solid #c3c3c3;
    box-sizing: border-box;
}


.blog-small-image .blog-small-image-comments-count span {
    display: block;
    text-align: left;
}


.blog-small-image .blog-small-image-content h2, .blog-small-image .blog-small-image-content h1.post-title {
    margin-top: -8px;
    margin-bottom: 12px;
    line-height: 0.9em;
}
.blog-small-image .post-subtitle{
    line-height: 1.3em;
    font-size: 15px;
    font-weight: 400;
}


.post-title a{
    font-size: 18px;
    font-weight: 800;
}

.blog-small-image .the-content-single {
    padding-left: 20px;
}


.blog-small-image-single .thumbnail {
    margin-right: 30px;
}

.blog-small-image .thumbnail .images-slider-sc li { margin-bottom: 0; position: relative; }

.blog-small-image .thumbnail .readmore-wrapper{
    position: absolute;
    bottom:0;
    right: 0;
    border-left: 11px solid #fff;
    border-top: 12px solid #fff;
    border-bottom: 2px solid #fff;
}

.blog-small-image .thumbnail .readmore-wrapper a {
    padding: 7px 32px;
    font-size: 13px;
}

.blog-small-image-content p a.more-link {
    padding: 13px 32px;
    font-size: 13px;
    margin-top: 10px;
}

.blog-small-image .thumbnail .images-slider-sc .flex-direction-nav .flex-prev,
.blog-small-image .thumbnail .images-slider-sc .flex-direction-nav .flex-next {
    bottom: 10px;
    right: 10px;
    top: auto;
    left: auto;
}
.blog-small-image .thumbnail .images-slider-sc .flex-direction-nav .flex-prev {
    right: 42px;
}

.blog-small-image .thumbnail .post_video {
    margin-bottom: 0;
}

.blog-small-image blockquote {
    background-position: 0 25px;
    padding-bottom: 0;
}
.blog-small-image cite {
    display: block;
    padding-top: 15px;
    text-align: right;
}

.blog-small-image .soundcloud-frame {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 0;
}

.blog-small-image .post-footer {
    border-top: 4px solid #aeaeae;
    margin-top: 91px;
    padding-top: 13px;
}

.blog-small-image .the-content-single .post-footer {
    border-bottom: 4px solid #e8e8e8;
    padding: 16px 0;
}

.blog-small-image .post-footer .share {
    float: left;
}

.blog-small-image .post-footer .author {
    line-height: 23px;
    margin: 0;
    padding-bottom: 3px;
}
.blog-small-image .post-footer span.author,
.blog-small-image .post-footer span.count,
.blog-small-image .post-footer span.categories,
.blog-small-image .post-footer span.tags,
.blog-small-image .post-footer span.share{
    font-size: 13px;
    font-weight: 800;
    color:#000;
}

.blog-small-image .meta p a {
    color: #736e6e;
}

.blog-small-image .meta p a:hover{
    color: #000;
}

.blog-small-image .post-footer span.share{padding-top: 3px;}

.blog-small-image .post-footer span.share div.socials{display: inline-block;}

.blog-small-image .post-footer .count{float: left;}


.blog-small-image .post-footer div.fade-socials-small {
    margin-right: 2px;
}

.blog-small-image .the-content-quote .post-footer {
    display: none;
}

.blog-small-image blockquote p, .blog-small-image blockquote a {
    padding-left: 0;
    font-size: 14px;
}
.blog-small-image-content p a.read-more { color: #8d0707; text-transform: lowercase; }
.blog-small-image-content a.read-more:hover{color:#222}

.no-thumb{background: #ecebeb; padding: 1px 0px;}
.no-thumb .blog-meta{ position: relative; }
.no-thumb .blog-meta .blog-small-image-date{ margin: 3px 3px 0px; }
.no-thumb .blog-small-image-content{ position: relative; margin: 15px 3px 3px; background: white; padding: 20px; }

.post-title a{ font-size: 0.75em;}